/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.role {
    margin:0;
    font-size: 15px;
    text-align: center;
    
}
body {
    background: #9796f0; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}




h1 {
    text-align:center;
    
    font-weight:600;
    font-family:Verdana;
    text-shadow:1px 1px 2px green, 1px 1px 2px blue;
}

.wrapper {
    max-width: 400px;
    min-height: 500px;
    margin: 30px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
    
}

.logo {
    
    width:contain;
    margin: 20px;
    padding-bottom:20px;
    
}

    .logo img {
        
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-block: ridge;
        margin-top:15px;
        border-radius:2em;
        
        box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff;
    }


.wrapper .form-field label {
    margin: 5px;
    color :#555 ;
    outline:none;
    border:none;
}



.wrapper .form-field input {
    margin: 5px;
    text-decoration: none;
    width: 100% ;
    border-radius:25px;
    display: block;
    border: none ;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    
 }
    


.wrapper .form-field {
    outline:none;
    border:none;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

    .wrapper .form-field .fas {
        
        color: #555;
        border:none;
        outline:none;
    }

.wrapper .btn {
    
    margin-bottom:10px;
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

    .wrapper .btn:hover {
        background-color: #039BE5;
    }

.wrapper a {
    text-decoration: none;
    margin : 10px;
    font-size: 1.5rem;
    color: #03A9F4;
}

    .wrapper a:hover {
        color: #039BE5;
    }
        

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}
