@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>About</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/ProjectLogo (1).png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/main.css" rel="stylesheet">


</head>

<body class="page-about">

    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center">
              
                <h1 class="d-flex align-items-center" style="font-family:'Baskerville Old Face'">Aayojakah - The Organizers</h1>
            </a>

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index" class="active">Home</a></li>
                    <li><a asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-controller="Home" asp-action="Services">Services</a></li>
                    <li><a asp-controller="Home" asp-action="Portfolio">Portfolio</a></li>
                    <li><a asp-controller="Home" asp-action="Team">Team</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li><a asp-controller="Login" asp-action="Login">Login</a></li>
                    <li><a asp-controller="Registration" asp-action="Registration">Sign up</a></li>
                </ul>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs d-flex align-items-center" style="background-image: url('~/assets/img/about-header.jpg');">
            <div class="container position-relative d-flex flex-column align-items-center">

                <h2>About</h2>
                <ol>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li>About</li>
                </ol>

            </div>
        </div><!-- End Breadcrumbs -->
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="row gy-4" data-aos="fade-up">
                    <div class="col-lg-4">
                        <img src="~/Homepage images/AboutPage.jpeg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8">
                        <div class="content ps-lg-5">
                            <h3>Exclusive events, priceless memories</h3>
                            <p>
                                Small team. Big moments. A lifetime of happiness.
                                With more than twelve years of experience planning wedding and events,
                                we're experts in perfecting the details and creating the extraordinary.
                                We exist so that you can enjoy the fun parts of planning and leave the stress behind.
                                Our clients are intensely busy professionals who depend on us to make their planning process stress-free
                                and to discover what will make their day uniquely special. We make design and planning simple for our clients - and simple isn't easy.

                                Born at the intersection of clever and creative, Brilliant Event Planning harnesses the power of emotion to make your most important day less stressful
                                and more beautiful. At our core, we are a culture of action and imagination.
                            </p>
                            @*<ul>
                                <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                <li><i class="bi bi-check-circle-fill"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                                <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                            </ul>*@
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
        <!-- ======= Why Choose Us Section ======= -->
        <section id="why-us" class="why-us">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>Why Choose Us</h2>

                </div>

                <div class="row g-0" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-xl-5 img-bg" style="background-image: url('~/assets/img/why-us-bg.jpg')"></div>
                    <div class="col-xl-7 slides  position-relative">

                        <div class="slides-1 swiper">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide">
                                    <div class="item">
                                        <h3 class="mb-3">BECAUSE WE CARE ABOUT YOUR EVENT</h3>

                                        <p>
                                            Choosing Ayojakaha is an investment towards your event because we treasure and care for all our clients
                                            and we are prepared to go that extra mile to make each event unique and memorable. With our experienced team,
                                            we ensure the success of your event – that is why we do not simply ‘manage’ things – we ‘orchestrate’ every single component of your special day,
                                            so that what you see and get, far exceeds anything you could have possibly imagined!
                                        </p>
                                    </div>
                                </div><!-- End slide item -->

                                <div class="swiper-slide">
                                    <div class="item">
                                        <h3 class="mb-3">Experience We Carry</h3>

                                        <p>
                                            We have years of experience in special event management and offer a unique service,
                                            which begins with sourcing the right venue, to organising and managing all the various aspects of your event or party.
                                            We have an excellent reputation and always provide a professional level of service.With over 5 years’ experience in event management,
                                            we have been in your shoes many times!  We have harnessed our learnings from these experiences and have turned them into our strengths.
                                        </p>
                                    </div>
                                </div><!-- End slide item -->

                                <div class="swiper-slide">
                                    <div class="item">
                                        <h3 class="mb-3">Budget Friendly Services</h3>

                                        <p>
                                            We strive to fulfil our client’s expectations and objectives in a creative
                                            and cost-effective way and create concepts to achieve your dreams and work within your budget.
                                            We use our superior negotiation skills to maximise your conference dollar at every possibility – with all savings achieved returned directly to you.
                                            Regular benchmarking in the marketplace ensures that our trusted suppliers continue to provide exceptionally high quality as well as outstanding value for money.
                                            We work with accuracy and scrupulous attention to detail whilst being highly flexible and adaptable.
                                        </p>
                                    </div>
                                </div><!-- End slide item -->

                                <div class="swiper-slide">
                                    <div class="item">
                                        <h3 class="mb-3">Easily Approachable</h3>

                                        <p>
                                            We have a proven track record and genuine commitment to delivering results.
                                            We never let the client down (and never have).  We communicate with you every step of the way with project plans, regular updates and reports.
                                            We conduct thorough up front research to ensure we find you the perfect venue for your requirements – an important foundation for your event.
                                            We listen – taking the time to fully get to know your business, your culture,
                                            your target audience and your unique objectives – enabling us to deliver the most effective solution to your needs.
                                        </p>
                                    </div>
                                </div><!-- End slide item -->

                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>

                </div>

            </div>
        </section><!-- End Why Choose Us Section -->
        <!-- ======= Call To Action Section ======= -->
        <section id="call-to-action" class="call-to-action">
            <div class="container" data-aos="fade-up">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h3>“People make events into stories. Stories give events meaning.”</h3>

                        <a class="cta-btn" asp-controller="Home" asp-action="Portfolio">Portfolio</a>
                    </div>
                </div>

            </div>
        </section><!-- End Call To Action Section -->
        <!-- ======= Team Section ======= -->
        <section id="team" class="team">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>Our Team</h2>

                </div>

                <div class="row gy-4">

                    <div class="col-lg-2 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="~/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Suryansh Dubey</h4>
                                <span>Full Stack Developer</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-2 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="~/assets/img/team/Anand Kalpe.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Anand Kalpe</h4>
                                <span>Full Stack Developer</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-2 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="~/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Someshwar Bhadange</h4>
                                <span>Full Stack Developer</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-2 col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="~/assets/img/team/Aman Kumar.jpeg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Aman Kumar</h4>
                                <span>Full Stack Developer</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->
                    <div class="col-lg-2 col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="~/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Vikram Joshi</h4>
                                <span>Full Stack Developer</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->
                    <div class="col-lg-2 col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="~/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Manish Thakkurwar</h4>
                                <span>Full Stack Developer</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->

                </div>

            </div>
        </section><!-- End Team Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="footer-content">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-5 col-md-12 footer-info">
                        <a href="index.html" class="logo d-flex align-items-center">
                            <span>Aayojaka: ~ The Organizers</span>
                        </a>
                        <p>
                            <br />
                            Ayojakaha is a bright, colorful & stylish Event Planning website with a festive and elegant design.
                            It is made to organize Professional as well as Functional events.

                        </p>
                        <div class="social-links d-flex  mt-3">
                            <a href="https://twitter.com/" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="https://www.facebook.com/" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="https://www.instagram.com/" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="https://www.linkedin.com/" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bi bi-dash"></i> <a href="#">Home</a></li>
                            <li><i class="bi bi-dash"></i> <a href="#">About us</a></li>
                            <li><i class="bi bi-dash"></i> <a href="#">Services</a></li>
                            <li><i class="bi bi-dash"></i> <a href="#">Portfolio</a></li>
                            <li><i class="bi bi-dash"></i> <a href="#">Team</a></li>
                            <li><i class="bi bi-dash"></i> <a href="#">Contact us</a></li>


                        </ul>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bi bi-dash"></i> <a href="#">Wedding Ceremony </a></li>
                            <li><i class="bi bi-dash"></i> <a href="#">Birthday Celebration </a></li>
                            <li><i class="bi bi-dash"></i> <a href="#">Family Function</a></li>
                            <li><i class="bi bi-dash"></i> <a href="#">Farewell Party</a></li>
                            <li><i class="bi bi-dash"></i> <a href="#">College Fest</a></li>
                            <li><i class="bi bi-dash"></i> <a href="#">Corporate Events</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                        <h4>Contact Us</h4>
                        <p>
                            Plot No 26, Rajiv Gandhi Infotech Park, <br>
                            Hinjawadi, Pune - 411057.<br>
                            India <br><br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> www.cognizant.com<br>
                        </p>

                    </div>

                </div>
            </div>
        </div>

        <div class="footer-legal">
            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong><span>Aayojakah</span></strong>. All Rights Reserved
                </div>

            </div>
        </div>
    </footer><!-- End Footer -->
    <!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

</body>

</html>