

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Home</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Homepage images/phone.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/main.css" rel="stylesheet">


</head>

<body class="page-index">

    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center">

                <h1 class="d-flex align-items-center" style="font-family:'Baskerville Old Face'">Aayojakah - The Organizers</h1>
            </a>

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index" class="active">Home</a></li>
                    <li><a asp-controller="Home" asp-action="About">About Us</a></li>
                    <li><a asp-controller="Home" asp-action="Services">Services</a></li>
                    <li><a asp-controller="Home" asp-action="Portfolio">Portfolio</a></li>
                    <li><a asp-controller="Home" asp-action="Team">Team</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                    <li><a asp-controller="Login" asp-action="Login">Login</a></li>
                    <li><a asp-controller="Registration" asp-action="Registration">Sign up</a></li>
                </ul>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-4">
                    <h2 data-aos="fade-up">Plan your events smarter, better.</h2>
                    <blockquote data-aos="fade-up" data-aos-delay="100">
                        <p>Our event management system automates and simplifies the entire event planning process. Starting with sourcing your venue and ending with custom dashboards and reports after your event. We have everything covered. </p>
                    </blockquote>
                    <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                        <a asp-controller="Home" asp-action="About" class="btn-get-started">Get Started</a>
                        <a href="https://www.youtube.com/watch?v=CwLWV3k9h2Y" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                    </div>

                </div>
            </div>
        </div>
    </section><!-- End Hero Section -->

    <main id="main">

        <!-- ======= Why Choose Us Section ======= -->
        <section id="why-us" class="why-us">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>Why Choose Us</h2>

                </div>

                <div class="row g-0" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-xl-5 img-bg" style="background-image: url('~/assets/img/why-us-bg.jpg')"></div>
                    <div class="col-xl-7 slides  position-relative">

                        <div class="slides-1 swiper">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide">
                                    <div class="item">
                                        <h3 class="mb-3">BECAUSE WE CARE ABOUT YOUR EVENT</h3>

                                        <p>
                                            Choosing Ayojakaha is an investment towards your event because we treasure and care for all our clients
                                            and we are prepared to go that extra mile to make each event unique and memorable. With our experienced team,
                                            we ensure the success of your event – that is why we do not simply ‘manage’ things – we ‘orchestrate’ every single component of your special day,
                                            so that what you see and get, far exceeds anything you could have possibly imagined!
                                        </p>
                                    </div>
                                </div><!-- End slide item -->

                                <div class="swiper-slide">
                                    <div class="item">
                                        <h3 class="mb-3">Experience We Carry</h3>

                                        <p>
                                            We have years of experience in special event management and offer a unique service,
                                            which begins with sourcing the right venue, to organising and managing all the various aspects of your event or party.
                                            We have an excellent reputation and always provide a professional level of service.With over 5 years’ experience in event management,
                                            we have been in your shoes many times!  We have harnessed our learnings from these experiences and have turned them into our strengths.
                                        </p>
                                    </div>
                                </div><!-- End slide item -->

                                <div class="swiper-slide">
                                    <div class="item">
                                        <h3 class="mb-3">Budget Friendly Services</h3>

                                        <p>
                                            We strive to fulfil our client’s expectations and objectives in a creative
                                            and cost-effective way and create concepts to achieve your dreams and work within your budget.
                                            We use our superior negotiation skills to maximise your conference dollar at every possibility – with all savings achieved returned directly to you.
                                            Regular benchmarking in the marketplace ensures that our trusted suppliers continue to provide exceptionally high quality as well as outstanding value for money.
                                            We work with accuracy and scrupulous attention to detail whilst being highly flexible and adaptable.
                                        </p>
                                    </div>
                                </div><!-- End slide item -->

                                <div class="swiper-slide">
                                    <div class="item">
                                        <h3 class="mb-3">Easily Approachable</h3>

                                        <p>
                                            We have a proven track record and genuine commitment to delivering results.
                                            We never let the client down (and never have).  We communicate with you every step of the way with project plans, regular updates and reports.
                                            We conduct thorough up front research to ensure we find you the perfect venue for your requirements – an important foundation for your event.
                                            We listen – taking the time to fully get to know your business, your culture,
                                            your target audience and your unique objectives – enabling us to deliver the most effective solution to your needs.
                                        </p>
                                    </div>
                                </div><!-- End slide item -->

                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>

                </div>

            </div>
        </section><!-- End Why Choose Us Section -->
        <!-- ======= Our Services Section ======= -->
        <section id="services-list" class="services-list">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>Our Services</h2>

                </div>

                <div class="row gy-5">

                    <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon flex-shrink-0"><i class="bi bi-arrow-through-heart-fill"></i></div>
                        <div>
                            <h4 class="title"><a asp-controller="Home" asp-action="Portfolio" class="stretched-link">Wedding</a></h4>
                            <p class="description">
                                Wedding is the most important time of the life for you, it brings a lot of responsibilities and stress as well.
                                There are tons of things that you have to worry about.
                                The location,  the theme, bride’s makeover, apparel, catering, decorations, wedding favors and much more adds to the list.
                            </p>
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon flex-shrink-0"><i class="bi bi-balloon"></i></div>
                        <div>
                            <h4 class="title"><a asp-controller="Home" asp-action="Portfolio" class="stretched-link">Birthday</a></h4>
                            <p class="description">
                                Planning a birthday party can be a very exciting task.
                                You are focused on finding the perfect spot for the party and you are in charge of inviting all of the guests.
                                Not to mention, you are trying to do everything within a budget.
                            </p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon flex-shrink-0"><i class="bi bi-people"></i></div>
                        <div>
                            <h4 class="title"><a asp-controller="Home" asp-action="Portfolio" class="stretched-link">Family Function</a></h4>
                            <p class="description">
                                Family functions are all about finding beautiful curtains and hinding behind them.family makes function joyful.
                                Small moments in family functions makes lifetime memories.They make family grow strong and together.
                            </p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon flex-shrink-0"><i class="bi bi-person-hearts"></i></div>
                        <div>
                            <h4 class="title"><a asp-controller="Home" asp-action="Portfolio" class="stretched-link">Farewell</a></h4>
                            <p class="description">
                                A farewell party is held for many occasions, including when someone leaves work, leaves the country,
                                or leaves an activity that they have been a part for a long time. Plan the event to give them best farewell...
                            </p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="500">
                        <div class="icon flex-shrink-0"><i class="bi bi-rainbow"></i></div>
                        <div>
                            <h4 class="title"><a asp-controller="Home" asp-action="Portfolio" class="stretched-link">College Fest</a></h4>
                            <p class="description">
                                College fest is an annual cultural event at a college or university organized by the student community with the support of their Faculties,
                                Principal and Management.
                            </p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="600">
                        <div class="icon flex-shrink-0"><i class="bi bi-person-workspace"></i></div>
                        <div>
                            <h4 class="title"><a asp-controller="Home" asp-action="Portfolio" class="stretched-link">Corporate Events</a></h4>
                            <p class="description">
                                Events in a corporate environment are often staged to communicate company strategy, change internal company behavior,
                                launch a product or service, motivate, train or reward staff, or influence the external behavior of customers towards the brand.
                            </p>
                        </div>
                    </div><!-- End Service Item -->

                </div>

            </div>
        </section><!-- End Our Services Section -->
        <!-- ======= Call To Action Section ======= -->
        <section id="call-to-action" class="call-to-action">
            <div class="container" data-aos="fade-up">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h3>“People make events into stories. Stories give events meaning.”</h3>

                        <a class="cta-btn" asp-controller="Home" asp-action="Portfolio">Portfolio</a>
                    </div>
                </div>

            </div>
        </section><!-- End Call To Action Section -->
        <!-- ======= Features Section ======= -->
        <section id="features" class="features">

            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                        <h3>Features - we provide</h3>

                        <div class="row gy-4">

                            <div class="col-md-6">
                                <div class="icon-list d-flex">
                                    <i class="bi bi-wallet-fill" style="color: #ffbb2c;"></i>
                                    <span>Budget Friendly</span>
                                </div>
                            </div><!-- End Icon List Item-->

                            <div class="col-md-6">
                                <div class="icon-list d-flex">
                                    <i class="bi bi-chat-dots" style="color: #5578ff;"></i>
                                    <span>Easily Approachable</span>
                                </div>
                            </div><!-- End Icon List Item-->

                            <div class="col-md-6">
                                <div class="icon-list d-flex">
                                    <i class="bi bi-person-heart" style="color: #e80368;"></i>
                                    <span>User Friendly Interface</span>
                                </div>
                            </div><!-- End Icon List Item-->

                            <div class="col-md-6">
                                <div class="icon-list d-flex">
                                    <i class="bi bi-lock-fill" style="color: #e361ff;"></i>
                                    <span>Data Privacy</span>
                                </div>
                            </div><!-- End Icon List Item-->

                            <div class="col-md-6">
                                <div class="icon-list d-flex">
                                    <i class="bi bi-sliders" style="color: #47aeff;"></i>
                                    <span>Customizable services</span>
                                </div>
                            </div><!-- End Icon List Item-->

                            <div class="col-md-6">
                                <div class="icon-list d-flex">
                                    <i class="bi bi-award" style="color: #ffa76e;"></i>
                                    <span>Best service</span>
                                </div>
                            </div><!-- End Icon List Item-->

                            <div class="col-md-6">
                                <div class="icon-list d-flex">
                                    <i class="bi bi-people-fill" style="color: #11dbcf;"></i>
                                    <span>Skilled Team</span>
                                </div>
                            </div><!-- End Icon List Item-->

                            <div class="col-md-6">
                                <div class="icon-list d-flex">
                                    <i class="bi bi-clock-fill" style="color: #ff5828;"></i>
                                    <span>10+ Years of Experience</span>
                                </div>
                            </div><!-- End Icon List Item-->
                        </div>
                    </div>
                    <div class="col-lg-5 position-relative" data-aos="fade-up" data-aos-delay="200">
                        <div class="phone-wrap">
                            <img src="~/Homepage images/phone.png" alt="Image" class="img-fluid">
                        </div>
                    </div>
                </div>

            </div>

            <div class="details">
                <div class="container" data-aos="fade-up" data-aos-delay="300">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Flawless Execution</h4>
                            <p>
                                We specialize in planning and designing weddings and events in private homes and raw spaces. We pride ourselves on flawless execution with high level touches.
                                Weekend affairs, multiple days of tent installation, ferries and travel logistics are a typical day at the office.
                            </p>
                            <a asp-controller="Home" asp-action="Services" class="btn-get-started">Our Executions</a>
                        </div>
                    </div>

                </div>
            </div>

        </section><!-- End Features Section -->



    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="footer-content">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-5 col-md-12 footer-info">
                        <a href="index.html" class="logo d-flex align-items-center">
                            <span>Aayojakah</span>
                        </a>
                        <p>
                            <br />
                            Ayojakaha is a bright, colorful & stylish Event Planning website with a festive and elegant design.
                            It is made to organize Professional as well as Functional events.

                        </p>
                        <div class="social-links d-flex  mt-3">
                            <a href="https://twitter.com/" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="https://www.facebook.com/" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="https://www.instagram.com/" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="https://www.linkedin.com/" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bi bi-dash"></i> <a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><i class="bi bi-dash"></i> <a asp-controller="Home" asp-action="About">About us</a></li>
                            <li><i class="bi bi-dash"></i> <a asp-controller="Home" asp-action="Services">Services</a></li>
                            <li><i class="bi bi-dash"></i> <a asp-controller="Home" asp-action="Portfolio">Portfolio</a></li>
                            <li><i class="bi bi-dash"></i> <a asp-controller="Home" asp-action="Team">Team</a></li>
                            <li><i class="bi bi-dash"></i> <a asp-controller="Home" asp-action="Contact">Contact us</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bi bi-dash"></i> <a asp-controller="Home" asp-action="Portfolio">Wedding Ceremony </a></li>
                            <li><i class="bi bi-dash"></i> <a asp-controller="Home" asp-action="Portfolio">Birthday Celebration </a></li>
                            <li><i class="bi bi-dash"></i> <a asp-controller="Home" asp-action="Portfolio">Family Function</a></li>
                            <li><i class="bi bi-dash"></i> <a asp-controller="Home" asp-action="Portfolio">Farewell Party</a></li>
                            <li><i class="bi bi-dash"></i> <a asp-controller="Home" asp-action="Portfolio">College Fest</a></li>
                            <li><i class="bi bi-dash"></i> <a asp-controller="Home" asp-action="Portfolio">Corporate Events</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                        <h4>Contact Us</h4>
                        <p>
                            Plot No 26, Rajiv Gandhi Infotech Park, <br>
                            Hinjawadi, Pune - 411057.<br>
                            India <br><br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> inquiry@cognizant.com<br>
                        </p>

                    </div>

                </div>
            </div>
        </div>

        <div class="footer-legal">
            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong><span>Aayojakah</span></strong>. All Rights Reserved
                </div>

            </div>
        </div>
    </footer><!-- End Footer -->
    <!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

</body>

</html>